/* Cormorant_Garamond */
@font-face {
  font-family: 'cormorant_garamondregular';
  src: url('./assets/fonts/Cormorant_Garamond_webfontkit/cormorantgaramond-regular-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/Cormorant_Garamond_webfontkit/cormorantgaramond-regular-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: 'montserratlight';
  src: url('./assets/fonts/Montserrat_webfontkit/montserrat-light-webfont.woff2')
      format('woff2'),
    url('./assets/fonts/Montserrat_webfontkit/montserrat-light-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-size: calc(8px + (20 - 8) * (100vw - 375px) / (1920 - 375));
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #101010;
  cursor: url(./assets/cursors/Dot.cur), default;
}

.page__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 30vh 40vh 30vh/ 100%;
  align-items: center;
  position: relative;
  /* margin-top: 3rem; */
}

img {
  grid-area: 1 / 1 / 1 / 1;
  border-style: none;
}

.logo {
  height: 28px;
  width: 28px;
  pointer-events: none;
  justify-self: end;
  opacity: 0.3;
  margin-right: 5vw;
}

p {
  grid-area: 2 / 1 / 2 / 1;
  font-family: 'cormorant_garamondregular';
  font-size: 2.5rem;
  line-height: 3.8rem;
  /* max-width: 1080px; */
  max-width: 1280px;
  margin-left: 7vw;
  margin-right: 10vw;
  color: #f5f5f5;
}

.contact {
  grid-area: 3 / 1 / 3 / 1;
  margin-left: 7vw;
}

.rocket {
  align-self: end;
  display: inline-block;
  z-index: 10;
  font-size: 16px;
  /* padding: 20px; */
  opacity: 1;
  transition: 0.4s ease opacity 0.1s;
  color: #f5f5f5;
}

ul {
  font-family: 'montserratlight';
  left: 12%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color: #909090;
}

ul li:first-of-type {
  padding-left: 2rem;
}

ul li + li {
  padding-left: 2rem;
}
